/*body*/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("Assets/images/9fe2af5624f7c1d69e4624d8a2d2f862.jpg");
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* About Me general */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  h2,
  h3,
  #p
  
  {
    margin-bottom: 20px;
  }
  
  
  h1
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: darkblue;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
  }
  
  h2
  h3 {
    font-size: 22px;
    color: darkblue;
    font-weight: 700;
  }

  h2 {
    color: darkblue;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
  }

  /* header */
  
  #masthead {
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }
  
  #logo {
    float: left;
    width: 245px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: darkblue;
    
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }

  h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }

  /* footer */
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid darkblue;
    height: 50px;
    width: 100%;
    
  }
  
  
  /* About Me */

  h1 {
    color: darkblue;
  }
  
  #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
    
  }
  
  #me {
    height: 370px;
    width: 300px;
    border: 3px solid #ccc;
    float: left;
    margin: 10px 20px;
   
  }
  
  

  /*Portfolio*/
  
  
  .portfolio-section {
    clear: right;
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
    }


 #portrait {
    position: relative;
    float: left;
    
    width: 274px;
    
    overflow: auto;     
    margin: 25px;
 }

 #event {
    position: relative;
    float: left;
  
    width: 274px;
   
    overflow: auto;
    margin: 25px;
 }
  
 #couples {
    position: relative;
    float: left;
    clear: right;
    width: 274px;
    
    overflow: auto;
    margin: 25px;
 }

#maternity {
    position: relative;
    float: left;
    width: 274px;
    
    overflow: auto;
    margin: 25px;
}

#landscape {
    position: relative;
    float: left;
    
    width: 274px;
    
    overflow: auto;
    margin: 25px;
}

  .work img {
    width: 100%;
    border: 0 none;
    opacity: 100;
    height: 200px;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: darkblue;
    border-bottom: 0;
  }
  
  .auth-image {
    
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }


  /*Contact*/

  h4 {

    margin-bottom: -25px;
  }

  h5 {

    size: 12px;
    border: 1px solid #ccc;
    padding: 6px;
    
  }

  h6 {

    border: 1px solid #ccc;
    padding: 100px;
  } 

  h7  {

    background-color: darkblue; 
    color: #fff;
    padding: 10px 25px;
    font-size: 18px;
    }



